<!DOCTYPE html>
<html lang="en">
  <title>Task List</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <ul>
    <% tasks.each_with_index do |task, id| %>
      <li>
        <%= task %>
        <form action="task/<%= id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit">Done</button>
        </form>
      </li>
    <% end %>
  </ul>
  <form action="/task" method="post">
    <label for="task">Task:</label>
    <input name="task" id="task">
    <button type="submit">Add</button>
  </form>
</html>
